extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Hi, my name is Kaung. I'm a full stack web developer in progress! This is my portfolio where I show off a few of the applications and projects I've built.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project, index in projects 
        .cell
          a(href=`/projects/${index}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            .middle 
              .text Learn More
            h5=project.project_name

